*/migrations/*
!*/migrations/__init__.py

media/
static/

venv/


*.sqlite3
*.log
*.db

*.pyc
*.pyo
__pycache__/

.vscode/
.idea/

.DS_Store
Thumbs.db

*.bak
*.swp
*.swo
*.tmp

product_file/
category/
user_profile/
product_images/
products/
