*/migrations/*
!*/migrations/__init__.py

*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.tiff
*.svg
*.webp

media/
static/
venv/
stash/
products/
product_images/
user_profile/
category/
product_file/

*.log
*.sqlite3
*.env
*.pyc
*.pyo
*.db

*.pyc
*.pyo
__pycache__/

*.coveragerc
*.tox/
*.nox/
*.coverage
*.hypothesis/

db.sqlite3

.vscode/
.idea/

.DS_Store
Thumbs.db

*.bak
*.swp
*.swo
*.tmp